<article class="flex flex-row">
  <section class="flex card">
    <h2>Приклад 1</h2>
    <h3>{{ name }}</h3>
    <h3>Age = {{ age }}</h3>
  </section>
  <section class="flex card">
    <h2>Приклад 2</h2>
    <p>
      <label>Age=<input type="number" min="0" max="150" [value]="age" /></label>
    </p>
  </section>
  <section class="flex card">
    <h2>Приклад 3</h2>
    <table>
      <tbody>
        <tr>
          <td [attr.colspan]="colspan">1</td>
        </tr>
        <tr>
          <td>2</td>
          <td>3</td>
          <td>4</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="flex card">
    <h3>Приклад 4</h3>
    <p>Кількість кликів {{ count }}</p>
    <button (click)="onClickme($event)">Click me!!!</button>
  </section>
  <section class="flex card">
    <h3>Приклад 5</h3>
    <p>Привіт {{ name2 }}</p>
    <label>Name=<input type="text" [(ngModel)]="name2" /></label>
    <label>Name=<input type="text" [(ngModel)]="name2" /></label>
  </section>
  <section class="flex card">
    <h3>Приклад 6</h3>
    <div [class.isRedBox]="!isRed"></div>
    <div [class.isRedBox]="isRed"></div>
    <input type="checkbox" [(ngModel)]="isRed" />
  </section>
  <section class="flex card">
    <h3>Приклад 7</h3>
    <div [style.width]="!isRed1 ? '50px' : '70px'"></div>
    <div [style.background-color]="!isRed1 ? 'red' : 'green'"></div>
    <div [style.background-color]="isRed1 ? 'red' : 'green'"></div>
    <input type="checkbox" [(ngModel)]="isRed1" />
  </section>
  <section class="flex card">
    <h3>Приклад 8</h3>
    <app-child></app-child>
  </section>
  <section class="flex card">
    <h3>Приклад 9</h3>
    <app-myclass>
      <h2>Hello</h2>
    </app-myclass>
  </section>
</article>

<router-outlet></router-outlet>
